/* General styles for all crypto related pages (rss is using a different css file *TestyDashy* */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url('https://assets.euromoneydigital.com/dims4/default/cee9178/2147483647/strip/true/crop/800x450+0+20/resize/1200x675!/quality/90/?url=http%3A%2F%2Feuromoney-brightspot.s3.amazonaws.com%2Ffc%2F1c%2F8c6efc9a63666ed6bd5963e4b54f%2Fdigital.jpg');
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;

}
.navbar {
    background: #222;
    color: white;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-left a {
    color: white;
    text-decoration: none;
    padding: 10px 15px;
}


.nav-right {
    display: flex;
    align-items: center;
    gap: 15px;
    margin-right: 20px;
    color: yellow;
    font-weight: bold;
}


.logout-btn {
    color: orange;
    text-decoration: none;
    font-weight: bold;
}

.logout-btn:hover {
    text-decoration: underline;
}



.container {
    width: 80%;
    margin: auto;
    padding: 20px;
    background: white;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}
.balance-info{
	width: 60%;
	margin:auto;
	background: white;
	padding: 20px;
	border-radius: 8px;
	box-shadow: 0 0px 4px rgba(0, 0, 0, 0.1);
	margin-top: 10px;
	text-align: center;
}


button {
    background: #28a745;
    color: white;
    padding: 10px 15px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}


button:hover {
    background: #218838;
}



table {
    width: 100%;
    border-collapse: collapse;
}


th, td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: left;
}


th {
    background: #333;
    color: white;
}



#graphModal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.modal-content {
    background: white;
    padding: 20px;
    border-radius: 10px;
    width: 80%;
    max-width: 600px;
}

#closeModal {
    position: absolute;
    top: 10px;
    right: 20px;
    cursor: pointer;
    font-size: 30px;
}

.highlighted-coin {
    background-color: #f8d7da;
    border-left: 5px solid #28a745; 
    transition: background-color 0.3s ease, border-left 0.3s ease;
}

.highlighted-coin:hover {
    background-color: #f1c4c4;
}
#coin-details {
    margin-top: 20px;
    font-size: 14px;
    color: #333;
}

#coin-details p {
    margin: 5px 0;
}

